:root {
	font-family: Arial;
	--toolbar-height: 2em;
	--clr-primary: #00695c;
	--clr-primary-light: #439889;
	--clr-secondary: #80d8ff;
	--clr-secondary-light: #b5ffff;
	--clr-font-high: #000000;
	--clr-font-med: #555555;
	--clr-font-low: #999999;
	--clr-background: #eeeeee;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--clr-background);
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	height: var(--toolbar-height);
	display: flex;
	justify-content: center;
	background-color: var(--clr-primary)
}

#file-explorer-button {
	display: flex;
	align-items: center;
	padding: 0em 1em;
	font-weight: bold;
}

#page-title {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
	font-weight: bold;
}

#page-title > a {
	text-decoration: none;
	color: #dddddd;
}

#github-link { 
	margin-right: 0.5em;
	margin-top: calc(var(--toolbar-height) * 0.05);
	height: calc(var(--toolbar-height) * 0.9);
}

#page-content {
	margin-top: var(--toolbar-height);
}

#md-view-holder {
	display: flex;
	justify-content: center;
	height: calc(100vh - var(--toolbar-height) - 4 * 1em);
	overflow-y: scroll;
	border: solid black 1px;
	padding: 1em;
	background-color: #ffffff;
	margin: 0.5em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#md-view-holder::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#md-view-holder {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#md-view-pane {
	width: 100%;
}

salad-md-viewer > div {
	background-color: #ffffff;
	padding: 1em;
	transition: background-color 1s ease-out;
}


salad-md-viewer > div > * {
	transition: background-color 1s ease-out;
}

.salad-md-viewer-filename {
	font-weight: bold;
	border-bottom: 1px black solid;
}

.salad-file-explorer-content {
	height: calc(100vh - 3.1*var(--toolbar-height) - 80vh);
	overflow-y: scroll;
	background-color: #ffffff;
	border-bottom: 1px solid black;
}

.salad-file-explorer-content > div {

}

.salad-file-explorer-content > div > div:hover {
	background-color: var(--clr-secondary);
	font-weight: bold;
}



.salad-md-viewer {
	height: 80vh;
}

.salad-md-viewer-content {
	height: 78vh;
	overflow-y: scroll;
}
